body{
    background: pink;
}
header{
    font: normal 20pt arial;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    
}
section{
    font: normal 15px arial;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.388);
}
footer{
    font: normal 15px arial;
    color: white;
    font-style: italic;
    text-align: center;
}
input{
    border-radius: 8px;
    border-color: pink;
    border-width: 4px;
}
select{
    border-radius: 8px;
    border-color: pink;
    border-width: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.388);
}